* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.main {
    width: 200%;
    height: 200%;
    position: absolute;
    -webkit-top: 0;
    -webkit-left: 0;
     overflow: hidden;
}
@keyframes prvi {
    from{top:-0; left:0;}
    to{top:-100%; left:0;}
}
.anim1 {
    animation: prvi 1.5s forwards;
}
@keyframes drugi {
    from{top:-100%; left:0;}
    to{top:0; left:-100%;}
}
.anim2 {
    animation: drugi 1.5s forwards;
}
@keyframes treci {
    from{top:0; left:-100%;}
    to{top:-100%; left:-100%;}
}
.anim3 {
    animation: treci 1.5s forwards;
}
@keyframes cetvrti {
    from{top:-100%; left:-100%;}
    to{top:0; left:0%;}
}
.anim4 {
    animation: cetvrti 1.5s forwards;
}
.part {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}
.part a {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    border: 2px solid #000;
}
.part a:hover {
    color: #fff;
    border: 2px solid #fff;
    padding: 30px;
}
.first{background-color: aquamarine;}
.second{background-color: blueviolet;}
.third{background-color: brown;}
.fourth{background-color: coral;}
